[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
flask-cors = "==1.10.3"

[requires]
python_version = "3.8"

[scripts]
dev = "flask run"
test = "python -m unittest discover ./test"
